# Node modules
node_modules/

# Production build
build/

# Environment variables
.env

# Editor/IDE files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Logs
logs/
*.log

# Temporary files
.tmp/
.temp/
.temp-*

# IDE-specific files
*.iml
*.ipr
*.iws

# System files
.DS_Store
Thumbs.db
