/* Pastel Palette */
:root {
    --pastel-pink: #ffb6c1;   /* Light Pink */
    --pastel-purple: #e0bbff; /* Lavender */
    --pastel--darkpurple:#9d3dec;
    --pastel-blue: #add8e6;   /* Light Blue */
    --pastel-yellow: #f2e356;
    --pastel-green: #98fb98;  /* Pale Green */
    --pastel-peach: #ffdab9;  /* Peach Puff */
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header styles */
  .header {
    background-color: var(--pastel-pink);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--pastel--darkpurple);
  }
  
  /* Hero section styles */
  .hero {
    background-color: var(--pastel-blue);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
  }
  
  .heroContent h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .heroContent p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: var(--pastel-yellow);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--pastel-peach);
  }
  
  /* About section styles */
  .about {
    padding: 100px 20px;
    background-color: var(--pastel-pink);
    text-align: center;
  }
  
  .aboutContent h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .aboutContent p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Footer styles */
  .footer {
    background-color: var(--pastel-purple);
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  